/* flipping card animation based on https://www.w3schools.com/howto/howto_css_flip_card.asp */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
  --default-font: 'Open Sans', sans-serif;
  font-family: var(--default-font);
}

*{padding: 0; margin: 0; box-sizing: border-box;}
html, body, #app, #app>div {
  height: 100%
}

body {
  height: 100%;
  background-image: radial-gradient(#84C1F8, #008FA8); 
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  font-family: var(--default-font);
  background-repeat: no-repeat;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 1em 20px;
  position: relative;
  /* temporary fix for desktop */
  max-width: 500px;
  margin: 0 auto;
}

.cards {
  grid-column: 1/5;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper {
  width: calc( (100vh - 5em - (6 * 8px))/7);
  height: calc( (100vh - 5em - (6 * 8px))/7);
  background-color: transparent;
  /* for 3d effect */
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  /* above code is from w3schools  */
  cursor: pointer;
}


.flipped {
  transform: rotateY(180deg);
  /* animation: flip 0.3s ease-out forwards; */
}

/* @keyframes flip {
  70% {
    transform: scale(1.1, 1.1) rotateY(180deg);
  }
  100% {
    transform: scale(1,1) rotateY(180deg);
  }
} */

.card-wrapper .card-inner .card-front {
  transform: rotateY(180deg);
  background-color: #fff;
  padding: 0.25em;
  box-shadow: inset 0 0 0 0.25em #FFC837;
  border-radius: 0.25em;
}
.card-wrapper .card-inner .card-front img{
  object-fit: cover;
  width: 100%;
}

.card-wrapper .card-inner .card-back {
  background-color: #FFC837;
  border-radius: 0.25em;
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/****************************************/
/****************************************/
/***********     NAV     ****************/
/****************************************/
/****************************************/

nav {
  position: fixed;
  position:-webkit-fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 3em;
  width: 100%;
  background-color: #FFC837;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 500px;
  
}

nav .reset span {
  transition: 0.25s ease-in-out;
}


/****************************************/
/****************************************/
/***********    MODAL    ****************/
/****************************************/
/****************************************/

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 500;
  padding: 0 28px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-container {
  width: 100%;
  max-width: 400px;
  background-color: #FFC837;
  padding: 2em 1em;
  border-radius: 0.125em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}

.settings-container h3 {width: 100%}
.settings-container .number-of-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-container .number-of-cards span {
  font-size: 1.25rem;
  font-weight: 700;
} 
.settings-container .number-of-cards .number-of-mons{
  margin: 0 1em;
}

.settings-container button {
  background: transparent;
  border: none;
  font-weight: 700;
  /* box-shadow: inset 0 0 0 0.125rem #000; */
  background-color: #84C1F8;
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  font-size: 1rem;
}